@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Montserrat;
    src: local('Montserrat'),
      url('@/assets/fonts/montserrat/montserrat.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: Montserrat;
    src: local('Montserrat Italic'),
      url('@/assets/fonts/montserrat/montserrat-italic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
  }

  @font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans'),
      url('@/assets/fonts/notosans/notosans.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans Italic'),
      url('@/assets/fonts/notosans/notosans-italic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;

    font-family: 'Noto Sans', sans-serif;

    @apply dark:bg-accentMain dark:text-neutralMain transition-all duration-150 ease-in-out;
  }

  * {
    @apply box-border transition-all;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-accentMain dark:text-neutralMain font-bold;
    font-family: Montserrat;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl leading-tight;
  }

  h3 {
    @apply text-xl;
  }

  code {
    @apply bg-neutralShade dark:bg-accentShade p-1 rounded-[5px] border border-neutralShade;
  }

  svg {
    @apply text-neutralShade dark:text-accentShade;
  }
}
